<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="OpenShelfContainer" connectionString="metadata=res://*/OpenShelf.csdl|res://*/OpenShelf.ssdl|res://*/OpenShelf.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=arvind;password=arvind;Persist Security Info=True;database=openshelf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>